// Place all the styles related to the TestCases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit_form{
  label{
    display: block;
  }
  .green{
    font-size:16px;
    color: green;
  }
  .red{
    font-size:16px;
    color: red;
  }
  #events{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  .passDiv{
    border: 2px solid green;
  }
  .failDiv{
    border: 2px solid red;
  }
  .ui-sortable-handle{
    cursor: pointer;
  }
}
// .modal-body{
//   max-height: calc(100vh - 150px);
//   overflow-y: auto;
// }

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img{
  height: 780px;
  width: auto;
  margin: auto;
}
